.community-section {
    margin: 20px;
}

.community-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 4rem;
}

.community-nav button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #F72585;
    cursor: pointer;
    transition: background-color 0.2s;
    color:white;
}


/* Highlighted state for the active button in the navigation bar */
.community-nav button.active {
    background-color: #6200ea;
    color: white;
}



/* Flex container wrapper for grid */
.gridcontainer {
    padding-top: 4rem;
    display: flex;            
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

/* Grid layout for displaying community cards */
.community-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); 
    gap: 2rem; 
    width: 90%;
    margin-top: 20px;
}

/* Styling for individual community cards */
.community-card {
    width: 14rem;
    height: 16rem;
    border-radius: 50px;
    overflow: hidden; /* For image cropping */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
    text-align: center;
    transition: transform 0.2s; 
}



.community-card:hover {
    transform: scale(1.05);
}

.community-card img {
    width: 100%;
    height: auto;
}

.community-nav input {
    flex-grow: 0;   
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 20%; 
}

.community-card-info {
    background-color:#F72585;
    padding: 10px 0;
    position: relative;
    bottom: 70px;
}

.community-name, .community-members {
    padding: 10px;
    margin: 0;
    color:white;
}

.community-name {
    font-weight: bold;
    font-size: 1.2em;
}

.community-members {
    color: #D6D6D6;
}

/* Hidden by default */
#create-community-container {
    display: none;
    position: fixed; /* Overlay positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
}

#create-community-container button {
    padding: 50px 60px;
    border-radius: 10%;
    font-size: 100px;
    color:white;
    background-color:#F72585;

}

