.song-container {
    background: rgba(123, 123, 123, 0.15);
    border-radius: 1.75rem;
    margin: 1rem;
    padding-left:2rem;
    padding-bottom: 5rem;
    
}

.title-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 500px;
    margin-bottom: -100px;
}
h1{
    background-image: linear-gradient(0deg, #512B81 0.44%, #8CABFF 99.78%);
    background-clip: text;
    -webkit-background-clip: text; /* Chrome Support */
    color:transparent;
    /* code from: https://vm.tiktok.com/ZGJws6Em4/ */

    font-weight: 400;
    font-size:60px;
    max-width: 650px;
}

.song-scrollbar {
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping to the next line below */
    position: relative; 
}

.song-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;   /* Enables the row to be scrollable */
    display: inline-flex; /* Display song cards in a row */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    width: max-content; /* Expand the row to fit all cards */
}


.featured-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1rem; 
    padding-top: 10rem;

    /** Same styling as H1 */
    background-image: linear-gradient(0deg, #6D69BE 48.23%, #8CABFF 99.78%);     
    background-clip: text;
    -webkit-background-clip: text; /* Chrome Support */
    color:transparent;
    position: relative; /* Create a relative positioning context */

}

.song-card {
    display: inline-block;
    width: 200px;  
    height: 300px; 
    margin: 10px;
    position: relative;
    color: #fff; 
    overflow: hidden;   /* This will prevent any potential overflow */
    transform-origin: center center; 
}


.song-cover {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    transition: transform 0.3s; 
    cursor: pointer;


}


.song-card:hover .song-cover {
    transform: translate(-50%, -50%) scale(1.08); /** Prevent song cover from moving due to its transform */
    filter: brightness(70%);
    transition: transform 0.3s; 
}

.song-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.song-artist, .song-title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.song-title {
    font-weight: bold;
}

.song-artist {
    font-weight: lighter;
    color:#AEAEAE;
}

.playbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; /* Center horizontally */
    width: 80%;
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 
    padding-bottom: 1rem;

}


.playbar {
    height: 30px;
    border-radius: 10px; 
    width: 80%;
    background-color: #35155D;
}

.fill {
    height: 100%;
    border-radius: 10px; 
    background-color: #F72585;
    width: 0%;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
#playPauseButton, #closePlaybarButton {
    padding: 10px 30px;  
    margin-right: 10px; /* Adjust the margin to your preference */
    background: #F72585;
    color: white;
    border: none;
    font-size: medium;
    cursor: pointer;
    border-radius: 40px;
}

.song-scrollbar::-webkit-scrollbar {
    width: 1rem;
}

.song-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.75rem;
}

/* Add styles for the info button */
.info-button {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
}

.song-card:hover .info-button {
    opacity: 1; /* Show on hover */
}

/* Styles for the song popup */
.song-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(127deg, #260B36 -11.58%, #483FB1 71.34%);    
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    max-width: 80%;
    color:white;
}

.close-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
