.followergrid-container {
    flex-grow: 1; 
    background: rgba(123, 123, 123, 0.15);
    border-radius: 1.75rem;
    margin: 1rem;
    display: flex;            /* Add this line */
    justify-content: center;  /* Add this line */
    align-items: center;      /* Add this line */
}

.profile-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 2rem; /* space between grid items */
    width: 90%;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
    
}


.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);
    border-radius: 0.625rem;
    padding: 1rem;
    width: 8rem; /* Adjust width as per your design preference */
    
}

.profile-item img {
    border-radius: 50%; /* For circular image */
    width: 100px; /* Adjust image width */
    height: 100px; /* Adjust image height */
    object-fit: cover; /* To ensure the image maintains its aspect ratio */
    margin-bottom: 1rem; /* Spacing below the image */
}

a {
    text-decoration: none; /* Remove underline */
    color: white; /* Use the default text color */
}

.profile-item p {
    font-size: 1rem; /* Adjust font size if needed */
    text-align: center;
    text-decoration: none;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0;
}

.chevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-chevron-down {
    display: inline-block;
    cursor: pointer;
}

.footer-chevron-up {
    display: none;
    cursor: pointer;
    /*initially dont display*/
}

.footer-chevron svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}

