.followergrid-container {
    background: rgba(123, 123, 123, 0.15);
    border-radius: 1.75rem;
    margin: 1rem;
    display: flex;            /* Add this line */
    justify-content: center;  /* Add this line */
    align-items: center;      /* Add this line */
}

.profile-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Automatically fill with as many columns as we can, minimum 150px*/
    gap: 2rem; /* space between grid items */
    width: 90%;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
    
}


.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);
    border-radius: 0.625rem;
    padding: 1rem;
    width: 8rem; 
    
}

.profile-item img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
    object-fit: cover; /* To ensure the image maintains its aspect ratio */
    margin-bottom: 1rem; 
}

a {
    text-decoration: none; 
    color: white; 
}

.profile-item p { /* Adjust font size if needed */
    text-align: center;
    text-decoration: none;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0;
}

.chevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-chevron-down {
    display: inline;
    cursor: pointer;
}

.footer-chevron-up {
    display: none;
    cursor: pointer;
    /*initially dont display*/
}

.footer-chevron svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}

@media (max-width: 480px) {
    .followergrid-container {
        flex-direction: column;  /* This ensures the children are stacked vertically */
    }

    .profile-grid {
        grid-template-columns: 1fr;  /* One column for the grid */
        justify-items: center;  /* Center the items horizontally */
    }
}