.content-wrapper {
    justify-content: center;
    display: flex;
    align-items: flex-start; /* ensures the tops are aligned */
    margin-top: 4rem;
}

.carousel-container {
    position: relative;
    width: 750px;
    height: 650px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0;
    border-radius: 0px 20px 20px 20px;

    
}

.more-button {
    position: absolute;
    background: #F72585;
    color: white;
    border: none;
    font-size: larger;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px 60px;  
    top: 30.25rem;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 10;  

}

.more-button:hover {
    background: #E61377;  /* slightly darker shade for hover */
}

.image-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    top: 2rem;
    left: 1.5rem;
    z-index: 5;  
}



.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.4);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.carousel-button-left {
    left: 0;
}

.carousel-button-right {
    right: 0;
}

.carousel-button:hover {
    background-color: rgba(0,0,0,0.6);
}

#carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.artist-info-container {
    background: linear-gradient(127deg, #260B36 -11.58%, #483FB1 71.34%);
    padding: 3rem 4rem 4rem 4rem;
    width: 400px; 
    height: 350px;
    box-sizing: border-box; /* so padding doesnt increase the box size */
    position: relative;
    border-radius: 20px 0px 0px 20px;

}

.artist-info-container h1 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem; 
}

.artist-info {
    text-align: center;
    color: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
}


.recently-played-container {
    margin-top: 20rem; 
    display: flex;         
    flex-direction: column;
    margin: 3rem auto 0 auto; /* top margin but no side margin */
    width: calc(3 * 200px + 2 * 4rem);  /* width of 3 squares and the 2 gaps */
}
.grid-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);  /* 3 columns each 200px wide */
    grid-gap: 2rem 4rem;  /* vertical gap: 2rem, horizontal gap: 4rem */
}

.recently-played-container h2 {
    color: white;
    text-align: left;
}

.square {
    width: 175px;
    height: 175px;
    background-color: grey;
    border-radius: 45px;
}
