.released-songs-card {
    border-radius: 0.625rem;
    background: rgba(217, 217, 217, 0.25);
    width: 30rem;
    height: auto; /* Using auto for dynamic content adjustment */
    padding: 1rem;
    color: #FFFFFF; /* White color for the text, adjust if needed */
}

.released-songs-card h2 {
    font-size: 2rem;
    margin-bottom: 1rem; /* Spacing after the title */
}

.songs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 1rem; /* Gap between grid items */
}

.song-item {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements */
}

.song-item img {
    border-radius: 2rem;
    width: 100%; /* Image takes full width of its container */
    height: auto; /* Keep the image's aspect ratio */
    max-width: 12rem; /* Set a maximum width for the images */
}

.song-item p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
